<h1>{{title}}</h1>
<h2>{{title2}}</h2>
<ul><li>Author 1</li>
<li>Author 2</li>
<li>Author 3</li>
</ul>

<input type="text" [formControl]="text">
<br />
<span> {{text.value | titlecase }}</span>

<br /><h3>course1</h3>
<div *ngIf="a; then trueBlock else falseBlock"></div>
<ng-template #trueBlock>
	<span><input type="button" value="Show conntent" (click)="show()"></span>
</ng-template>
<ng-template #falseBlock>
    <span><input type="button" value="Hide conntent" (click)="show()">
    <br /><b>lesson 1</b>
<br /><b>lesson 2</b>
<br /><b>lesson 3</b></span>
</ng-template>

<h3>course 2</h3>
<div *ngIf="b; then dung else sai"></div>
<ng-template #dung>
    <span><input type="button" value="Show content" (click)="course2()"></span>
</ng-template>
<ng-template #sai>
    <input type="button" value="Hide content" (click)="course2()">
    <br /><b>Lesson A</b>
    <br /><b>Lesson B</b>
</ng-template>


<br /><br />
<form #form="ngForm" (ngSubmit)="postData(form.value)">
Email: <input ngModel name ="email" type="text" placeholder="email" id="emai">

<br />Password: <input ngModel name="password" type="password">
<br /><button type="submit">Submit</button><br />
  
<div *ngIf="message; then mauxanh else maudo"></div>
<ng-template #mauxanh>
        <font color="green">{{textmessage}}</font>
       
    </ng-template>
<ng-template #maudo>
    <font color="red">{{textmessage}}</font>
</ng-template>

</form>
<button (click)="getData()">get Data</button>
